@use '../../styles/variables' as *;

.board {
  background-color: get(primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 calc(get(icon-padding) + get(icon-width));
}
.title {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  word-wrap: break-word;
  overflow: hidden;
  color: get(primary-color);
}
.lists {
  flex-grow: 1;
  display: flex;
  gap: get(board-gap);
  overflow-x: auto;
  padding: get(board-gap);
}
.addButton {
  margin: get(board-gap) auto;
}
.icons {
  position: absolute;
  top: get(icon-padding);
  right: get(icon-padding);
}
