@use '../../../../styles/variables' as *;

.backgroundOptions {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.showTextOnHover {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000;
  gap: 2px;
  position: relative;
  & > p {
    position: absolute;
    font-size: 10px;
    top: 50%;
    right: 100%;
    opacity: 0;
    transition: opacity get(appearing-time);
  }
  &:hover p {
    opacity: 1;
  }
}
