@use '../../../../styles/variables' as *;

.deleteBtn {
  position: absolute;
  bottom: get(icon-padding);
  right: get(icon-padding);
  opacity: 0;
  transition: opacity get(appearing-time);
}
.card {
  position: relative;
  background: #fff;
  padding: calc(get(card-padding) + get(icon-width));
  margin: get(col-padding);
  border-radius: get(card-radius);
  &:has(.deleteBtn) {
    padding: calc(get(icon-padding) + get(icon-width));
  }
  &:hover .deleteBtn {
    opacity: 1;
  }
}
.title {
  font-weight: 600;
  font-size: 14px;
  word-wrap: break-word;
  overflow: hidden;
  color: get(primary-color);
  text-transform: uppercase;
}
